html{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: #1B2837;
    font-family: 'Noto Sans', sans-serif;
}

*,
::before,
::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}